<div class="container" ng-controller="jobsCtrl">
    <div class="sub_menu">
        <button id="new_job" disabled>&#x2795; New Job</button>
    </div>
    <table class="table table-striped" id="jobs_list">
        <thead>
            <tr>
                <th>Job</th>
                <th>Transport</th>
                <th>Endpoint</th>
                <th>Progress</th>
                <th>Crashes</th>
                <th>Warnings</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody_jobs_list">
            <tr ng-repeat="job in jobs.data | filter:query">
                <td ng-show="job.name">{{job.name}}</td>
                <td ng-show="!job.name">{{job.job_id}}</td>
                <td>
                    <table>
                        <tr ng-repeat="(key, value) in job.target.transport">
                            <td class="list_key">{{key | capitalize}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="(key, value) in job.target.endpoint">
                            <td class="list_key">{{key | capitalize}}:</td><td>{{value}}</td>
                        </tr>
                    </table>
                </td>
                <td class="jobs_col_progbar">
                    <div ng-if="job.status == 1">
                        <progressbar type="danger" id="job_progress" max="job.t_m_index" value="job.c_m_index">
                            <span style="color:black; white-space:nowrap;">
                                {{job.c_m_index}} / {{job.t_m_index}}
                            </span>
                        </progressbar>
                    </div>
                    <div ng-if="job.status == 3">
                        <progressbar type="success" id="job_progress" max="job.t_m_index" value="job.c_m_index">
                            <span style="color:black; white-space:nowrap;">
                                FINISHED ({{job.c_m_index}} / {{job.t_m_index}})
                            </span>
                        </progressbar>
                    </div>
                    <div ng-if="job.status == 2">
                        <progressbar type="warning" id="job_progress" max="job.t_m_index" value="job.c_m_index">
                            <span style="color:black; white-space:nowrap;">
                                PAUSED ({{job.c_m_index}} / {{job.t_m_index}})
                            </span>
                        </progressbar>
                    </div>
                    <div ng-if="job.status == 0">
                        <progressbar type="success" id="job_progress" max="job.t_m_index" value="job.c_m_index">
                            <span style="color:black; white-space:nowrap;">
                                STOPPED ({{job.c_m_index}} / {{job.t_m_index}})
                            </span>
                        </progressbar>
                    </div>
                </td>
                <td>{{job.crashes}}</td>
                <td>{{job.warnings}}</td>
                <td>
                    <div ng-if="job.status == 1" id="job_action"> <!-- RUNNING -->
                        <button class="job_action" title="Pause Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="pause_job">&#9646;&#9646;</button>
                        <button class="job_action" title="Stop Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="stop_job">&#9726;</button>
                        <button class="job_action" title="Delete Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="delete_job">&#x2718;</button>
                    </div>
                    <div ng-if="job.status == 3" id="job_action"> <!-- FINISHED -->
                        <button class="job_action" title="Restart Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="restart_job">&#x27F3;</button>
                        <button class="job_action" title="Delete Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="delete_job">&#x2718;</button>
                    </div>
                    <div ng-if="job.status == 0" id="job_action"> <!-- STOPPED -->
                        <button class="job_action" title="Start Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="start_job">&#x25B6;</button>
                        <button class="job_action" title="Restart Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="restart_job">&#x27F3;</button>
                        <button class="job_action" title="Delete Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="delete_job">&#x2718;</button>
                    </div>
                    <div ng-if="job.status == 2" id="job_action"> <!-- PAUSED -->
                        <button class="job_action" title="Start Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="start_job">&#x25B6;</button>
                        <button class="job_action" title="Delete Job" engine="{{job.engine_id}}" job_id="{{job.job_id}}" id="delete_job">&#x2718;</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

