div.editor {
  width: 100%;
  margin: 0 auto;
  font-family: Monospace, Consolas;
}
div.editor_status {
  min-height: 40px;
  line-height: 40px;
  padding: 3px;
  margin: 0 auto;
  margin-top: 0px;
  font-family: Monospace, Consolas;
  border-top: 1px solid #DDDDDD;
  font-size: 0.8em;
}
.editor_page {
  max-height: 400px;
  overflow: scroll;
  font-family: Monospace, Consolas;
  padding: 0px;
}
.clearfix {
  overflow: auto;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editor_hex_cell {
  border: 1px solid #EFEFEF;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  float: left;
  cursor: pointer;
  font-family: Monospace, Consolas;
}
.ui-tabs .ui-tabs-panel {
  padding: 0.1em 0.1em 0.1em 0.1em;
}
.ui-tabs .ui-tabs-nav
{
  background: #F1F1F1;
  background-color: #F1F1F1;
  font-size: 0.9em;
}
.editor_hex_cell_select,
.editor_hex_cell_mark {
  background-color: #c41230;
  color: #FFFFFF;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,.05),0 2px 0 #AA0000;
  box-shadow: inset 0 0px 1px #AA0000,0 2px 0 #AA0000;
  transition: border-color 0s ease-in-out 0s, box-shadow 0s ease-in-out 0s;
}
.bitfield_item {
  cursor: pointer;
}
.editor_bitfield_selected {
  background-color: #FA8888 !important;
  color: #FFFFFF;
}
.bitfield_item_cell_mark {
  background-color: #c41230 !important;
  color: #FFFFFF;
}
.bitfield_mright {
  margin-right: 5px !important;	
}
.editor_hex_cell_select {
  background-color: #FA8888;
  color: #FFFFFF;
}
.editor_info_item {
  float: left;
  margin-right: 10px;
}

.ctx_menu_item {
  height: 20px;
  line-height: 20px;
  display: table-cell;
  vertical-align: middle;
}

.ctx_menu_parse_binary,
.ctx_menu_parse_bitfield,
.ctx_menu_parse_numeric,
.ctx_menu_parse_delimiter,
.ctx_menu_parse_static,
.ctx_menu_parse_string,
.ctx_menu_parse_size,
.ctx_menu_parse_checksum,
.ctx_menu_parse_block,
.ctx_menu_parse_pad_block,
.ctx_menu_parse_repeat_block {
  padding: 3px;
  width: 110px;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
}
.ctx_menu_parse_binary {
  color: #FFFFFF;
  background-color: #999999;
}
.ctx_menu_parse_bitfield {
  color: #FFFFFF;
  background-color: #AAD490;
}
.ctx_menu_parse_byte,
.ctx_menu_parse_word,
.ctx_menu_parse_dword,
.ctx_menu_parse_qword,
.ctx_menu_parse_numeric {
  color: #FFFFFF;
  background-color: #90C3D4;
}
.ctx_menu_parse_delimiter {
  color: #FFFFFF;
  background-color: #D490B8;
}
.ctx_menu_parse_static {
  color: #FFFFFF;
  background-color: #555555;
}
.ctx_menu_parse_string {
  color: #FFFFFF;
  background-color: #E86F6F;
}
.ctx_menu_parse_size  {
  color: #FFFFFF;
  background-color: #E3DB00;
}
.ctx_menu_parse_checksum {
  color: #FFFFFF;
  background-color: #E39B00;
}
.ctx_menu_parse_block {
  color: #FFFFFF;
  background-color: #222222;
}
.ctx_menu_parse_repeat_block {
  color: #FFFFFF;
  background-color: #E3006A;
}
.ctx_menu_parse_pad_block {
  color: #FFFFFF;
  background-color: #9A00E3;
}
.ctx_menu_header_primitive:before {
  content: "Primitive";
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 3px;
  padding-left: 3px;
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background: #EEEEEE;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.ctx_menu_header_block:before {
  content: "Block";
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 3px;
  padding-left: 3px;
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background: #EEEEEE;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.progress,
.editor-load-progress {
  border: 0px;
  border-radius: 0px;
  height: 4px;
  margin-bottom: 0px;
}
div.hex-editor-loader {
  width: 30px;
  float: right;
  display: none;
}
div.parser_dialog {
  display: none;
}
.form-control:focus {
  border-color: #C41230;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
div.primitive_properties {
  margin-top: 45px;
  padding: 20px;
  font-size: 0.9em;
}
table.t_primitive_properties {
  width: 100%;
}
table.t_primitive_properties tr,
table.t_primitive_properties td {
  height: 35px;
  line-height: 35px;
}
td.t_primitive_pr {
  text-align: right;
}
.p_attr_select {
  width: 100px;
}
#editor_tabs {
  border: 1px solid #EEEEEE;
}
.bitfield_item {
  width: 15px !important;
  height: 15px !important;
  background-color: #444444;
  margin: 1px;
  float: left;
  text-align: center;
  font-size: 0.7em;
  color: #EEEEEE;
}
#bitfield_bits_container {
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
